<form action="/tessel" method="post">
  
light
<input type="number" name="light" id="" value="" />
sound
<input type="number" name="sound" id="" value="" />

  <input type="submit" name="" id="" value="Submit me" />
  
</form>
